
.header-logo{
    background-image: url('http://himgirieducation.com/home/pics/latestlogo.png');
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 15px;
}

.list{
    border-radius: 5px 5px 0px 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
  
    list-style-type: none;
    /* display: flex; */
    padding: 1px;
    margin: 0px;
    border-radius:5px 5px 0px 0px;
   
}

.list-item{
    text-align: center;
    padding: 15px 7px;
    font-size: 14px;
    color: #1C32CA;
    cursor: pointer;
}
.list-item.active{
    background-color: #ececec;
   
}
