.bannerImage{
    width: 100%;
    background: url(http://himgirieducation.com/home/pics/a6.jpg);
    height: 252px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-tag{
    padding: 8px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    margin-bottom: 0;
    background: rgba(68,68,68,.8);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-size: 1.5em;
}

.background{
    background-color: white;
    padding: 8px;
    position: relative;
}

.section{
 margin-left: 0px;
 margin-right: 0px;
    margin-top: 10px;
}

.heading {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin: 18px 0px;
}

.sub-heading{
    background-color: #435F9C;
    color: #FFF;
    padding-left: 8px;
    font-weight: bold;
    font-size: 14px;
}

.course_bg{
    margin-top: 26px;
    padding: 12px 12px
}

.course_heading{
    /* font-weight: bold; */
    margin-right: 8px;
    color: #444;
    font-size: 14px;
}

/* .table-responsive{
    overflow-x: scroll;
} */